{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Hello World test!!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'bbs/css/style.css' %}">
    <script src="{% static 'bbs/js/script.js' %}"></script>

</head>
<body>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea class="form-control" name="comment"></textarea>
        <input type="file" name="attachment">
        <input type="submit" value="送信">
    </form>

    {% for topic in topics %}
    <div class="border p-2 m-2">
        <p>{{ topic.comment }}</p>


        {% if topic.mime == "image/png" or topic.mime == "image/jpeg" %}
        <div><img src="/media/{{ topic.attachment }}" alt=""></div>
        {% elif topic.mime == "video/mp4" %}
        <div><video src="/media/{{ topic.attachment }}" controls></video></div>
        {% else %}
        {{ topic.attachment }}
        {% endif %}

        <a href="{% url 'bbs:single' topic.id %}">コメント</a>

    </div>
    {% endfor %}


    <ul class="pagination justify-content-center">
        {% if topics.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">最初のページ</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ topics.previous_page_number }}">前のページ</a></li>
        {% else %}
        <li class="page-item"><a class="page-link">最初のページ</a></li>
        <li class="page-item"><a class="page-link">前のページ</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link">{{ topics.number }}</a></li>
        {% if topics.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ topics.next_page_number }}">次のページ</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ topics.paginator.num_pages }}">最後のページ</a></li>
        {% else %}
        <li class="page-item"><a class="page-link">次のページ</a></li>
        <li class="page-item"><a class="page-link">最後のページ</a></li>
        {% endif %}
    </ul>    




</body>
</html>

